* {
  color: white;
}
#price-title {
  text-align: center;
  position: relative;
  top: 1vh;
}
.price {
  background-color: #070329;
  height: 70vh;
  width: 20vw !important;
  padding: 0;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  border: 5px solid white;
}
.price h1 {
  font-size: xx-large;
  padding-top: 0;
  top: 1%;
  left: 5%;
  z-index: 1;
  position: absolute;
  color: #070329;
}

.price img {
  margin-top: 0;
  width: 100%;
  z-index: 0;
  top: -1vh;
}
.price button {
  position: absolute;
  bottom: 0;
  height: 15vh;
  background-color: black;
  text-align: center;
  width: 100%;
  border: 1px;
  font-size: x-large;
  font-weight: bolder;
}
.button-spain button:hover {
  cursor: pointer;
}
.price-list {
  position: absolute;
  left: 20%;
  font-size: x-large;
  font-weight: bold;
}
.price-list li {
  margin-top: 30%;
  margin-bottom: 30%;
}

#price-container {
  display: flex;
  justify-content: space-between;
  transform: translate(0, 5vh);
}

.price-spacer {
  width: 3vw;
  height: 80vh;
}
